[submodule "m-explore-ros2"]
	path = m-explore-ros2
	url = https://github.com/robo-friends/m-explore-ros2.git
[submodule "ros2_explorer"]
	path = ros2_explorer
	url = https://github.com/DaniGarciaLopez/ros2_explorer
[submodule "nav2_wavefront_frontier_exploration"]
	path = nav2_wavefront_frontier_exploration
	url = https://github.com/SeanReg/nav2_wavefront_frontier_exploration.git
